@charset "utf-8";
html,body{
    margin: 0;
}
html {
    height: 100%;
    }
body {
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    }

ul,li,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,figure,p{
    margin: 0;
}

img{
    vertical-align: top;
}

a{
    text-decoration: none;
    color: #000;
}

*{
    box-sizing: border-box;
    font-size: 11px;
    color: #555;
}
header{
    position:fixed;
    width:100%;
    background-color:#fff;
    z-index: 999;
}
header > div {
    padding:10px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    line-height: 40px;
}
header > div > ul {
}
header > div > h1 {}
header > div > h1 > a > img{
    display:flex;
    margin:auto;
    justify-content: center;
    align-items: center;
    width:80%;
}
header > div > nav { }
header > div > nav > a > img {
    display:none;
}
header > div > nav > ul{text-align:right;}
header > div > nav > ul > li { display:inline-block;}
header > div > nav > ul > li > a{display:block;}
.burger-check{
    width:20px;
    height:20px;
    display:none;
}




header > div .spot {
    display:flex;
    justify-content: center;
    border-bottom: 1px solid #2c2a29;
}
header > div .spot li {  }
header > div .spot li > a {
    font-size:11px; 
    color:#000; 
    margin: 0 10px;
    font-weight:600;
}


header > div .spot2 {}
header > div .spot2 li{
    position: relative;
    margin:0 40px;
}
header > div .spot2 li > a { 
    font-size:18px; 
    color:#000;
    font-weight:600;
}
header > div .spot2 li:last-child { margin-right:0;}
header > div .spot2 li > div{
    position: absolute;
    z-index:99;
    left:0; bottom:0px; 
    width:100%;
    text-align: center;
    transform: translateY(100%);
    padding:10px 0;
    display:none;
}
header > div .spot2 li > div > a{
    margin-top:20px;
    padding:2px 0;
    line-height: 30px;
    white-space: nowrap;
    color : #000;
    font-size:14px;
    font-weight:bold;

}
header::after{
    content:'';
    width:100%; height:120px;
    position:absolute;
    left:0; bottom:0;
    background-color:rgba(255,255,255,0.98);
    transform: translateY(0%);
    border-radius: 0 0 30px 30px;
    transition: 0.3s;
    display: none;
}


/* hover */
header > div .spot2 li > a:hover {font-weight: bolder; } /* 주메뉴배경 */
header:hover::after{ display:block;
    transform: translateY(100%);
    opacity: 1;
}

 /* 서브메뉴배경 */
header > div .spot2:hover li div{display:block;
    opacity:1;
} /* 서브메뉴 */
/* footer */
footer {position:relative;}
footer .ft-box{
    bottom:0;
    width:100%;
    height:200px;
    background: #2c2a29;
}
footer .ft-box .ft-inner{
    display:flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px 0px 50px;
    line-height: 24px;
}

footer .ft-box > nav > span{
    text-align: center;
    font-size:14px;
    color:#959595;
}

/* navigater */
.bg-nav {
    /* background: #e5e5e5; */
    color: #2c2a29;
    right: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
    display:none;
}

/*** INPUT ***/
.bg-nav > div > input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

/*** LABEL ***/
.bg-nav > div > label {
    cursor: pointer;
    display: block;
    padding: 0.5em;
}
/* Hamburger Icon */
#menu-icon,
#menu-icon:before,
#menu-icon:after {
    background: #2c2a29;
    border-radius: 0.1em;
    height: 2px;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

#menu-icon {
    display: inline-block;
    margin: 0.4em 0;
    max-width: 2em;
    position: relative;
}

.bg-nav label #menu-icon {
    float: right;
}

#menu-icon:before,
#menu-icon:after {
    content: '';
    left: 0;
    position: absolute;
}

#menu-icon:before {
    top: -0.4em;
}

#menu-icon:after {
    bottom: -0.4em;
}

/* Close Icon */
.bg-nav input[type=checkbox]:checked + label #menu-icon {
    background: transparent;
}

.bg-nav input[type=checkbox]:checked + label #menu-icon:before {
    top: 0;
    transform: rotate(-45deg);
}

.bg-nav input[type=checkbox]:checked + label #menu-icon:after {
    bottom: 0;
    transform: rotate(45deg);
}


/*** MENU ***/
/* Overlay */
.bg-nav input:checked ~ #overlay {
    background: #fff;
    bottom: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: -1;
}

/* List */
.bg-nav ul {
    font-size: 4em;
    list-style: none;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
}

.bg-nav input:checked ~ ul {
    margin: 1em;
    max-height: inherit;
    opacity: 1;
}

.bg-nav ul > li {
    line-height: 140px;
    font-weight: bold;
    
}

.bg-nav ul a {
    color: #1d1f20!important;
    text-decoration: none;
    font-size: 16px;
}
/* Social Media */
.bg-nav ul#social-media > li {
    display: inline-block;
    font-size: 2em;
    margin: 0.5em;
}
.bg-nav ul > li:hover {
    color: #1d1f20!important;
    text-decoration: none;
    font-size: 16px;
}
/* linkseven */
.bg-nav ul > li:before {
    content: '';
    border-bottom: solid 1px rgb(175,31,57);
    position: absolute;
    bottom: 0; left: 30%;
    width: 0;
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
        -ms-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0); 
  }
  
  .bg-nav ul > li:hover:before {
    border-bottom: solid thin rgb(175,31,57);
    width: 40%;
    -webkit-animation: heartbeat-x 1.7s infinite ease-in;
            animation: heartbeat-x 1.7s infinite ease-in;
  }
  
.bg-nav ul > li:hover {
    -webkit-animation: heartbeat 1.7s infinite ease-in;
            animation: heartbeat 1.7s infinite ease-in;
  }
  
  @-webkit-keyframes heartbeat {
    0% { -webkit-transform: scale(1); }
    10% { -webkit-transform: scale(1.1); }
    20% { -webkit-transform: scale(1); }
    30% { -webkit-transform: scale(1.1); }
    40% { -webkit-transform: scale(1); }
  }
  
  @-webkit-keyframes heartbeat-x {
    0% { -webkit-transform: scaleX(0); }
    10% { -webkit-transform: scaleX(1); }
    20% { -webkit-transform: scaleX(0); }
    30% { -webkit-transform: scaleX(1); }
    40% { -webkit-transform: scaleX(0); }
  }
  
  @keyframes heartbeat {
    0% { transform: scale(1); }
    10% { transform: scale(1.1); }
    20% { transform: scale(1); }
    30% { transform: scale(1.1); }
    40% { transform: scale(1); }
  }
  
  @keyframes heartbeat-x {
    0% { transform: scaleX(0); }
    10% { transform: scaleX(1); }
    20% { transform: scaleX(0); }
    30% { transform: scaleX(1); }
    40% { transform: scaleX(0); }
  }



/* media 1024 */
@media screen and (max-width:1024px){
    header .main-header{
        justify-content:space-around;
        flex-direction: row;
        width:100%;
        padding:10px;
        /* align-items: center; */
    }
    header > div > h1 > a > img {
        width:190px;
        height:49px;
    }


    header > div .spot{
        display:none;
    }
    
    header > div .spot2 li > a {
        font-size:14px;
        margin:0 2px;
    }
    header > div > h1 {
        display:flex;
    }

    .bg-nav {
        display:block;
        top:40%;
        right:10px;
}


/* media 768 */
@media screen and (max-width:768px){
    header > div > h1 > a > img {
        width:146px;
        height:49px;
    }


    header > div .spot li a {
        font-size: 12px;
    }
    
    header > div .spot2 li > a {
        font-size:12px;
        margin:0 5px;
    }
    footer .ft-box > nav > span{
        text-align: center;
        font-size:11px;
        color:#959595;
    }
}



/* media 480 */
@media screen and (max-width:480px){
    header > div > h1 > a > img {
        width:146px;
        height:49px;
    }


    header > div .spot li a {
        display:none;
    }
    
    header > div .spot2 li > a {
        display:none;
    }
    header:hover::after{ display:none;
    }
    header > div .spot2:hover li div{display:none;}
    footer{bottom:0;}
    footer .ft-box .ft-inner{
        display:flex;
        align-items: center;
        flex-direction: column;
        padding: 20px 0px 0px 20px;
        line-height: 24px;
        margin:0 auto;
    }
    
    footer .ft-box > nav > span{
        text-align: center;
        font-size:11px;
        color:#959595;
    }
}