@import url(common.css);
*,
*::before,
*::after {
	box-sizing: border-box;
}
body{
    min-height:1611px;
}

.ctt-1{
    position:relative;
}
.ctt-1 .bg_img{
    height:90vh;
    background: url("../img/photo-1.jpg") fixed no-repeat;
    background-size:cover;
    background-position: center;
}
.ctt-1 .bg_img .bg_img-right{
    position: absolute;
    right:5%;
    top: 25%;
    width:40%;

}
.ctt-1 .bg_img .bg_img-right > p .drink1{
    width:70%;
}

.ctt-1 .bg_img .bg_img-left{
    position: absolute;
    left: 13%;
    top:5%;
    /* padding-top: 55px; */
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    line-height: 60px;
}
.ctt-1 .bg_img .bg_img-left > p > img{
    width:70%;
}

.ctt-1 > div > img {
}
.ctt-1 .bg_img .bg_img-left .text1{
    margin:20px 0 20px 0;
}
.bg_img-left{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.bg_img-left{
	position: relative;
	display: block;
	margin: 0;
	font-size: 4rem;
	line-height: 1;
	transform: translateY(6rem);
	animation: up 500ms linear forwards;
	z-index: 1;
	text-shadow: 0px 1px 1px rgba(255,255,255,1);
	
	&::before,
	&::after {
		position: absolute;
		content: '';
		width: 0px;
		height: 1px;
		left: 0;
		background-color: rgba(0,0,0,0.2);
		z-index: -1;
	}
	
	&::before {
		top: 1.4rem;
		animation: draw 500ms linear 1s forwards;
	}
	
	&::after {
		bottom: 0.4rem;
		animation: draw 500ms linear 1s forwards;
	}

}
.bg_img-right{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.bg_img-right{
	position: relative;
	display: block;
	margin: 0;
	font-size: 4rem;
	line-height: 1;
	transform: translateY(6rem);
	animation: up 500ms linear forwards;
	z-index: 1;
	text-shadow: 0px 1px 1px rgba(255,255,255,1);

	&::before,
	&::after {
		position: absolute;
		content: '';
		width: 0px;
		height: 1px;
		left: 0;
		background-color: rgba(0,0,0,0.2);
		z-index: -1;
	}
	
	&::before {
		top: 1.4rem;
		animation: draw 500ms linear 1s forwards;
	}
	
	&::after {
		bottom: 0.4rem;
		animation: draw 500ms linear 1s forwards;
	}
	
}

.ctt-1{
	font-size: 0;
	position: relative;
	overflow: hidden;
	padding-bottom: 0.4rem;
}

@keyframes up {
	
	100% {
		transform: translateY(0);
	}
	
}

@keyframes draw {
	
	100% {
		width: 100%;
	}
	
}
.ctt-1 > div > nav > p {
    width:100%;
}
    .ctt-1 > div > nav > p > a{
        display: inline-block;
        background: transparent;
        text-transform: uppercase;
        font-weight: bold;
        font-style: normal;
        font-size: 1rem;
        letter-spacing: 0.6em;
        color:#331515;
        border-radius: 50px;
        padding: 9px 40px 10px;
        transition: all 0.7s ease-out;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0.8), rgba(70, 70, 70, 0.8), rgba(126, 126, 126, 0), rgba(247, 247, 247, 0));
        background-position: 1% 50%;
        background-size: 300% 300%;
        text-decoration: none;
        margin: 0.625rem;
        border: none;
        border: 1px solid rgba(223,190,106,0.3);
    }
    
    .ctt-1 > div > nav > p > a:hover{
        color: #fff;
        border: 1px solid rgba(223,190,106,0);
        color: #fff;
        background-position: 99% 50%;
    }
    

/* event bd */
.event-bd{
    width:100%;
    margin:120px 0px 120px 0px;
}
.event-bd .event-1{
    display:flex;
    width:66.66666%;
    flex-direction: column;
    align-items: center;
    margin:0 auto;
}
.event-bd > div .evt-txt{
    text-align: center;
    font-size:2rem;
    color:rgb(175,31,57);
}
.event-bd > div .evt-underbox{
    border:2px solid #959595;
    padding:5px 20px 5px 20px;
    margin-top:20px;
    color:#959595;
    border-radius: 20px;
    font-size:12px;
}
.event-bd > div .evt-underbox:hover{
    color:#f6f5ef;
    background: #959595;
}

.event-1 > ul{
    display:flex;
    flex-direction: row;
    justify-content: space-between;    
    
}
.event-1 > ul > li{
    position:relative;
    z-index: 1;
}
.event-1 > ul > li > a {

}
.event-1 > ul > li > a > img {
    position: relative;
    /* z-index: 2; */
    width:80%;
    margin:60px 30px;
}
.event-1 > ul > li > a::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.4);
    left: 0;
    top: 0;
    opacity: 0;
    transition: .5s;
}
.event-1 > ul > li > a:hover::after {
    opacity: 0.9;
}

.event-1 > ul > li > a > img::after,
.event-1 > ul > li > a > img::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-100%, -100%);
    width: 0%;
    height: 0%;
    border-color: #331515;
    border-width: 12px;
    transition: .5s;
}
.event-1 > ul > li > a > img::after {
    height: 100%;
    border-style: solid none;
}
.event-1 > ul > li > a > img::before {
    width: 80%;
    border-style: none solid;
}
.event-1 > ul > li > a:hover .event-1 > ul > li > a > img::after,
.event-1 > ul > li > a:hover .event-1 > ul > li > a > img::before {
    width: 80%;
    height: 100%;
    border-radius: 5px;
}
/* fav */
.favwarp{
    background:url("../img/stk_bg.jpg") transparent center center fixed no-repeat;
    background-size:cover;
    height:1560px;
    width:100%;
    
}
.favwarp-box{
    display:block;
    background:white;
    width:100%;
    height:680px;
    position:relative;

}
.favwrap-box-inner{
    width:66.6666%;
    margin:auto;
}
.favwarp-box .favwarp-inner{
    width:66.66%;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin:0 auto;
    padding:90px 0 30px 0;
}
.favwarp > div > .favwrap-box-inner nav .fav-img-txt{
    line-height: 60px;
}
.favwarp > div > .favwrap-box-inner nav .fav-txt1{
    letter-spacing: 10px;
    font-weight: bold;
    color:#331515;
    font-size: 24px;
}
.favwarp > div > .favwrap-box-inner nav .fav-txt2{
    font-size: 12px;
    letter-spacing:12px;
    font-weight: lighter;
    color:#292f4e;
}
.favwarp > div > .favwrap-box-inner ul{
    display:flex;
    text-align: center;
    flex-wrap: no-wrap;
}
.favwarp > div > .favwrap-box-inner ul > li{
    padding:10px;
}
.favwarp > div > .favwrap-box-inner ul > li .fav-img-txt{
    font-size:14px;
    font-weight: bold;
    color:#331515;
    line-height: 60px;
}
.favwarp > div > .favwrap-box-inner ul > li .fav_link1{
    display:inline-block;
    font-size:12px;
    font-weight: 700;
    color:#331515;
    padding:5px 10px 5px 10px;
    border:1px solid #331515;
    border-radius: 20px;
}
.favwarp > div > .favwrap-box-inner ul > li .fav_link1:hover{
    background:#331515;
    color:#f6f5ef;
}

.favwarp > div > .favwrap-box-inner ul > li >img{
    width:100%;
    height:217px;
}
/* srch st */
.favwarp .srch_st{
    height:200px;
    position:relative;
    top:680px;
}
.favwarp .srch_st .srch-bg{
    height:200px;
    width:50%;
    display:flex;
    margin:0 auto;
}

.favwarp .srch_st .srch_st-inner > span{
    position:absolute;
    left:35%;
    bottom:150px;
    display:inline-block;
    color:#f6f5ef; 
    font-size: 14px;
    line-height: 24px;
    transform: translateY(100%);
}
.favwarp .srch_st .srch_st-inner > span .st_link{
    color:#f6f5ef;
    padding : 5px 15px 5px 15px;
    border: 2px solid #f6f5ef;
    border-radius: 10px;
    line-height: 50px;
}
.favwarp .srch_st .srch_st-inner > a:hover{
    background:#f6f5ef;
    color:#4c4343;
    text-decoration: underline;
}
@media screen and (max-width:1024px){
.ctt-1 .bg_img{
    height:55vh;
}
.ctt-1 .bg_img .bg_img-right{
    width:45%;
    right:2%;
}
.ctt-1 .bg_img .bg_img-left{
    width:45%;
    left:9%;
    top:-30%;
}
.ctt-1 > div > nav > p > a{
    padding:0 2% 0 2%;
    font-size: 0.65rem;
    border:solid #4c4343 1px;
    font-weight: 100;
}
}
@media screen and (max-width:1191px){
.favwarp{
    max-height: 1560px;
}
.favwrap-box-inner{
    background:#fff;
    width:100%;
}

.favwarp > div > ul > li{
}
}
@media screen and (max-width:768px){
.event-bd .event-1{
    width:90%;
    justify-content: center;
    align-items: center;
}
.event-1 > ul{
    flex-wrap: wrap;

}
.event-1 > ul > li{
    margin:0 auto;
    transform: translateX(15%);
}

.event-1 > ul > li > a > img {
    align-items: center;
    width:66%;
    margin: 20px 10px;
}

    .favwarp > div > .favwrap-box-inner ul{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
}
.favwarp > div > .favwrap-box-inner nav .fav-txt1{
    font-size: 16px;
}
.favwarp > div > .favwrap-box-inner nav .fav-txt2{
    font-size:9px;
}

}



/* media 480 */
@media screen and (max-width:480px){
    
.event-1 > ul > li > a > img {
    align-items: center;
    width:66%;
    margin: 20px 10px;
}
    .ctt-1 .bg_img{
        position:relative;
        transform: translateY(7%);
        background: url("../img/summerdrink3.png") no-repeat;
        background-position: center;
    }
    .ctt-1 .bg_img .bg_img-left{
        display:none;
    }
    .ctt-1 .bg_img .bg_img-right{
        display:none;
    }
    .favwarp-box .favwarp-inner {
        padding:0px;
    }
    .favwarp .srch_st{
    display:none;
    }
    .favwarp > div > .favwrap-box-inner ul > li >img{
        width:80%;
        height:100%;
    }
    .favwarp > div > .favwrap-box-inner ul{
        display:inline-flex;
    }
    .favwarp > div > .favwrap-box-inner ul > li{
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        line-height: 10px;
    }
    .favwarp > div > .favwrap-box-inner ul > li:nth-child(5){
        padding-bottom: 30px;
    }

}








